<!DOCTYPE html>
<html>
<head>
  <title>Ruby Casino Blackjack</title>
  <link rel="stylesheet" href="/front.css">
</head>


<p></p><p></p>
<h2><span style="color: white; ">Welcome to Ruby Casino</span></h2>
<h5><span style="color: white; padding-left: 20px;">"The Best Blackjack Tables on the Internet!"</span></h5>
<br>
<h4><span style="color: white; ">What's your name?</span></h4>

<form id= "start_form" action="/startform"  method = post>
  <div class="form-horizontal">
    <input type="text" name="name"/>
    <button class="btn">Let's Play!</button>
  </div>
</form>

