body {
    background-image:url('/images/teller.png');
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-size: 100% 100%;
    background-position:center;
}

.btn {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}